<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
</head>
<body>
    <p>Hello {{fullname}}</p>

    <p>
        You or someone else has requested a password reset for you account.
        If you made this request, then please click this link: 
        <a href={{link}}><strong>reset password</strong></a>.
        If you did not make this request, then you can simply ignore this email.
    </p>

    <p>Best, </p>
    <p>Erick Loningo Lomunyak</p>
    <p>erycoking@andela.com</p>
</body>
</html>